doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/ratings.css')
    link(rel='stylesheet', href='/stylesheets/review.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
  body
    block content
