doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/me.css')
    link(rel="shortcut icon" href='/images/fav.ico')
  body
    h1='About Me'