nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 10%;
  background: #000;
  opacity: 0.7;
}

#navLeft {
  width: 50%;
  height: 60px;
  /* line-height: 60px; */
  float: left;
  display: flex;
  flex-direction: row;
  text-align: center;
  /* background: #ffffff; */
}

#navLeft li img {
  width: 105px;
  height: 60px;
  cursor: pointer;
}

#navLeft li {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-family: 'PingFangSC-Regular', 'Arial Narrow', Arial, sans-serif;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
}

#navLeft li a {
  height: 60px;
  color: #fff;
}

#navRight {
  height: 60px;
  /* line-height: 60px; */
  margin: 0 0 0 20px;
  float: left;
  /* line-height: 60px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

#navWrapper {
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #fff;
}

#navRight #navWrapper img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}


#navRight input {
  height: 25px;
  color: #F00;
}

a:hover {
  color: #ff0000;
}
