ul, li {
  list-style: none;
}

#nav {
  display: flex;
  flex-direction: row;
  background: #ffffff;
}

li {
  width: 100px;
  height: 30px;
  margin: 0px 50px 0 50px;
  border-radius: 10px solid #ffffff;
  text-align: center;
  line-height: 30px;
  /* flex: 1; */
  font-size: 15px;
  font-family: "PingFangSC-Regular";
  background: #ff0000;  
  /* align-items: center;
  justify-content: center */
}

li:hover {
  color: #00ff00;
  cursor: pointer;
}

a {
  color: #00B7FF;
}

p {
  display: block;
  height: 100;
  color: #FF0000;
}

#container {
  width: 200;
  height: 200;
  margin-top: 10;
  background: #00ff00
}
#cc {
  text-align: center
}
